html {
    background-color: #041841;
}

/*Bloco Lista de Personagens */

.lista {
    text-decoration: none;
    text-align: center;
    color: chartreuse;
    font-size: 40px;

    &__personagens {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        &__figuraeinfo {
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            flex-direction: row;
            align-items: center;
            padding-top: 15px;
            padding-left: 15px;
            padding-bottom: 15px;
            padding-right: 15px;
            background-color: rgb(5, 5, 22);
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 100px;
            margin: 10px;
            width: 200px;

            &:hover {
                opacity: 3;
                cursor: progress;
                margin-top: -3px;
                text-decoration: underline;
              
            }

            &__figura img {
                border-radius: 200px;
                height: 200px;
            }

            &__info {
                background-color: #7fff00;
                padding: 0 10px;
                border-radius: 50px;
                max-width: min-content;
                max-height: min-content;
                width: 200px;
                font-size: 15pt;

                &__categorias__categoria {
                    margin-bottom: 15pt;
                }
            }
        }
    }
}

/*Bloco CaixadePesquisa */

.caixa-de-pesquisa {
    width: 80%;
    font-size: 40%;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin: 10px auto 10px auto;

    &__input {
        margin: 0 auto;
        padding: 0.5em;
        font-size: 1.2em;
        width: 100%;
        border-radius: 50px;
        text-align: center;
    }
}

/* Bloco Detalhar */

.detalhar {
    display: flex;
    align-items: center;
    margin-bottom: 15pt;
    margin-top: 200pt;
    margin-left: 15pt;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    padding: auto;

    
    &__middle {
        display: flex;
        font-size: 20pt;
        color: aqua;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        align-items: center;
        height: 306px;
        padding-right: 0px;
        padding-bottom: 20px;
        margin-top: 10px;

        
        &__mid {
            margin: 50px;

            &__info {
                background-color: blue;
                border-radius: 500px;
                border-style: dotted;
                padding: 20px;
                height: 19.7vw;
                max-width: 200px;
                width: 19.7vw;
                text-align: center;
                font-size: 2.3vw;
                
            }
        }


        &__bottom {
            display: flex;
           
            text-align: center;

            &__voltar{
                background-color: rgb(75, 236, 241);
                padding-top: 30%;
                padding-left: 12%;
                border-radius: 500px;
                font-size: 3.3vw;
                margin-top: 30pt;
                display: flex;
                max-width: 160px;
                max-height: 160px;
                width: 15vw;
                height: 15vw;
                text-align: center;
                
            }
        
        }
    }

    img {

        border-radius: 200px;
        border-style: dotted;
        max-height: 350px;
        max-width: 350px;
        height: 20vw;

    }
}

h2 {
    font-size: 25px;
    text-size-adjust: auto;

}

span {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.detalhar- .coluna {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

    
@media only screen and (max-width: 400px) {
    html {
        background-color: black;
    }

    

    .caixa-de-pesquisa {
        width: 85%;
        font-size: 35%;
        max-width: 100%;
        display: flex;
        align-items: center;
        margin: 10px auto 10px auto;
        
    
        &__input {
            margin: 0 auto;
            padding: 0.5em;
            font-size: 1.2em;
            color: rgb(122, 231, 58);
            width: 100%;
            border-radius: 50px;
            text-align: center;
            border-style: dotted;
            border-color: rgb(122, 231, 58);
            background-color: black;
        }



    }

    .lista__personagens__figuraeinfo{
        border-style: dotted;
        border-color: chartreuse;
        background-color: rgba(35, 175, 47, 0.226);
    }





    .detalhar {
        
        &__middle {
            margin-top: -15pt;
    
            &__mid {
                margin: 20px;
    
                &__info {
                    background-color: black;
                    border-radius: 500px;
                    border-style: dotted;
                    padding: 20px;
                    height: 35vw;
                    max-width: 200px;
                    width: 35vw;
                    text-align: center;
                    font-size: 4.5vw;
                    color: chartreuse;
                }
            }
    
    
            &__bottom {
                display: flex;
                text-align: center;
    
                &__voltar{
                    background-color: chartreuse;
                    padding-top: 33%;
                    padding-left: 17%;
                    border-radius: 500px;
                    font-size: 7.3vw;
                    display: flex;
                    max-width: 160px;
                    max-height: 160px;
                    width: 30vw;
                    height: 30vw;
                    text-align: center;
                    border-style: dotted;
                    color: black;
                    
                    
                }
            
            }
        }
    
        img {
    
            border-radius: 200px;
            border-style: dotted;
            max-height: 350px;
            max-width: 350px;
            height: 70vw;
    
        }

        section {
            display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: center;
        align-items: center;
        
    
        }
    }



}
